#container {
  background-color: red;
}
.logo {
  width: 60px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  padding: px;
}
.nav-items > ul {
  display: flex;
  flex-direction: row;
}
.nav-items > ul > li {
  list-style-type: none;
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 3px;
  margin: 15px;
}

.card > img {
  width: 100%;
}

.restaurant-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
